edu_fineweb10B/
edu_fineweb10B
gpt2_checkpoints
__pycache__/hellaswag.cpython-39.pyc
hellaswag/hellaswag_val.jsonl
code_during_build
__pycache__/gpt2_model.cpython-39.pyc
__pycache__/decoder.cpython-39.pyc
