edu_fineweb10B
gpt2_checkpoints
__pycache__/hellaswag.cpython-39.pyc
hellaswag/hellaswag_val.jsonl
code_during_build
__pycache__/gpt2_model.cpython-39.pyc
__pycache__/decoder.cpython-39.pyc
COCO
caption_checkpoints
caption_logs
.gitignore
gpt2_training_logs
__pycache__/captionGPT2.cpython-39.pyc
__pycache__/encoder.cpython-39.pyc
__pycache__/vision_dataset.cpython-39.pyc
old_code/
dev.ipynb
results/caption/train.csv
.gitignore
results/caption/val.csv
